
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QUILL Residence</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel='stylesheet' href='/main.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="/compact-gallery.css">
     </head>
  <body class='text-muted'>
    <nav class="navbar fixed-top">
      <a class="navbar-brand align-middle" href="/Home">
        <img src='../content/onlyQ.svg'  alt='logo'  >
        <img src="../content/goa-candolim.svg" alt="">
      </a>
      <ul class="navbar-nav"> 
        <li class="nav-item ">
          <a href="/booking" class="nav-link ">
          <div class="bookbutton">
            <div class="bookbutton2"></div>
             <span class="x">Book</span>
             
          </div> 
          
        </div>

           </a>
        </li>
       </ul>
     
    </nav>
    
          <div id="carouselIndicators" class="carousel slide carousel-slide " data-ride="carousel"  data-pause="false" data-touch='true'>
            <ol class="carousel-indicators">
              <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselIndicators" data-slide-to="1"></li>
              <li data-target="#carouselIndicators" data-slide-to="2"></li>
              <li data-target="#carouselIndicators" data-slide-to="3"></li>
              <li data-target="#carouselIndicators" data-slide-to="4"></li>
              <li data-target="#carouselIndicators" data-slide-to="5"></li>
              <li data-target="#carouselIndicators" data-slide-to="6"></li>
            </ol>
            
            <div class="carousel-inner  object-center ">
              <div class="carousel-item active">
                <h2 class="ctxt1 ">It's time to make that Goa plan finally happen</h2>
               
                <img class="d-sm-block d-none w-100 vh99 " src="..\images\normalcarousel\Rc1.jpg" alt="Image Unavailable">
                <img class="d-block d-sm-none w-100 vh99 " src="..\images\phonecarousel\pc1.jpg" alt="Image Unavailable">
                
              </div> 
             <div class="carousel-item">
                <h2 class="ctxt3 ">Step into  into an aqua blue swimming pool and manicured gardens</h2>
                <img class="d-sm-block d-none w-100 vh99 " src="..\images\normalcarousel\Rc2.jpg" alt="Image Unavailable">
                <img class="d-block d-sm-none w-100 vh99 " src="..\images\phonecarousel\pc2.jpg" alt="Image Unavailable">
              </div>
              <div class="carousel-item ">
                <h2 class="ctxt2 ">Large and comfy living spaces</h2>
                <img class="d-sm-block d-none w-100 vh99 " src="..\images\normalcarousel\Rc3.jpg" alt="Image Unavailable">
                <img class="d-block d-sm-none w-100 vh99 " src="..\images\phonecarousel\pc3.jpg" alt="Image Unavailable">
              </div>
              <div class="carousel-item">
                <h2 class="ctxt4 ">Elegant Dining Area</h2>
                <img class="d-sm-block d-none w-100 vh99 " src="..\images\normalcarousel\Rc4.jpg" alt="Image Unavailable">
                <img class="d-block d-sm-none w-100 vh99 " src="..\images\phonecarousel\pc4.jpg" alt="Image Unavailable">
              </div>
              <div class="carousel-item">
                <h2 class="ctxt5 ">A classy 3 bedroom villa in Candolim</h2>
                <img class="d-sm-block d-none w-100 vh99 " src="..\images\normalcarousel\Rc5.jpg" alt="Image Unavailable">
                <img class="d-block d-sm-none w-100 vh99 " src="..\images\phonecarousel\pc5.jpg" alt="Image Unavailable">
              </div>
              <div class="carousel-item">
                <h2 class="ctxt6 "> Enjoy the best Goa has to offer</h2>
                <img class="d-sm-block d-none w-100 vh99 " src="..\images\normalcarousel\Rc6.jpg" alt="Image Unavailable">
                <img class="d-block d-sm-none w-100 vh99 " src="..\images\phonecarousel\pc6.jpg" alt="Image Unavailable">
              </div>
              <div class="carousel-item">
                <h2 class="ctxt7 "> A conveniently located 2300 sq ft, 3 bedroom villa in Candolim</h2>
                <img class="d-sm-block d-none w-100 vh99 " src="..\images\normalcarousel\Rc7.jpg" alt="Image Unavailable">
                <img class="d-block d-sm-none w-100 vh99 " src="..\images\phonecarousel\pc7.jpg" alt="Image Unavailable">
              </div>  

            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
          
            
           
    
           
  <div class='container' >
    
      <div class='row r1 align-items-center '>
            <div class='col-md-6 d-block'>
                <img src="..\images\pg14.jpg" class='img-fluid float-left'>
            </div>
            <div class='col-md-6 d-block  infotxt'>
              <h3>  
                Overview
              </h3>
              <p class='align-middle p-3'>
                Quill Residence is a part of the up market Jia Villa complex, just off
                Candolim - Calangute road. Living spaces luxuriously spread across three
                floors, great wifi, impeccable housekeeping and attendant on request
                 are some of the outstanding features of your abode in Goa. A shortwalk from the beach,
                  super markets and a plethora of eating out and shopping options.

               </p>
            </div>
        </div>
    
      <div class='row r2 align-items-center '>
        
      
      <div class='col-md-6 order-md-last '>
        <img src="..\images\pg8.jpg" class='img-fluid '>
    </div>
   
        <div class='col-md-6 order-md-first  infotxt '>
          <h3>Amenities</h3>
            <ul>
            <li>Wifi</li>
            <li>Fully Air Conditioned</li>
            <li>Television in all rooms</li>
            <li>Parking</li>
            <li>Cooking Range</li>
            <li>Pots and Pans</li>
            <li>Crockery, Cutlery and Glassware</li>
            <li>Microwave Oven</li>
            <li>Water Purifier</li>
            <li>Large Refrigerator</li>
            <li>Washing Machine</li>
            </ul>
    
        
        </div>
      
      </div>    
      <div class='row r3 align-items-center '>
          <iframe class="col-md-6 " src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1922.1436217900375!2d73.7687107816668!3d15.522724712232701!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa996f9020753bb29!2sQuill%20Residence%20-%20Candolim%2CGoa!5e0!3m2!1sen!2sin!4v1607963213344!5m2!1sen!2sin" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
         
         
          <div class="col-md-6 infotxt">
              <h3>  
                Connectivity
              </h3>
              <ul>
                <li>Candolim Beach  <div class="float-right">850m  </div></li>
                <li>Sinquerim Fort <div class="float-right">3.5km  </div> </li>
                <li>Fort Aguada <div class="float-right">5.5km  </div></li>
                <li>Panaji <div class="float-right">14km  </div></li>
                <li>Old Goa <div class="float-right">22km  </div></li>
                <li>Dabolim Airport <div class="float-right">38 km  </div></li>
                <li>Vasco-Da-Gamma <div class="float-right">40 km  </div> <br>Railway Station </li>  
                             
              </ul>
          </div>
        </div>
        
      <div class='row r4 align-items-center cursor default'>
        <h3 class="mx-auto">Gallery</h3>
        <section class="gallery-block compact-gallery">
          <div class="container">
             
              <div class="row no-gutters">
                  <div class="col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                      <a class="lightbox" data-caption="The Complex"   href="..\images\gal_images\1.jpg" >
                          <span class=""><img class="img-fluid image w-100" src="..\images\gal_thumbs\l1.jpg"></span>
                          <span class="description">
                              <span class="description-heading">The Complex</span>

                          </span>
                      </a>
                  </div>
                  <div class=" col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                      <a class="lightbox" data-caption="Main Entrance"   href="..\images\gal_images\2.jpg">
                          <img class="img-fluid image w-100" src="..\images\gal_thumbs\l2.jpg">
                          <span class="description">
                              <span class="description-heading">Main Entrance</span>

                          </span>
                      </a>
                  </div>
                  <div class=" col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                      <a class="lightbox" data-caption="Poolside"   href="..\images\gal_images\3.jpg">
                          <img class="img-fluid image w-100" src="..\images\gal_thumbs\l3.jpg">
                          <span class="description">
                              <span class="description-heading">Poolside</span>

                          </span>
                      </a>
                  </div>
                  <div class=" col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                      <a class="lightbox" data-caption="Living Room"   href="..\images\gal_images\4.jpg">
                          <img class="img-fluid image w-100" src="..\images\gal_thumbs\l4.jpg">
                          <span class="description">
                              <span class="description-heading">Living Room</span>

                          </span>
                          </a>
                      </div>
                  <div class=" col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                      <a class="lightbox" data-caption="Dining Area"   href="..\images\gal_images\7.jpg">
                          <img class="img-fluid image w-100" src="..\images\gal_thumbs\l7.jpg">
                          <span class="description">
                              <span class="description-heading">Dining Area</span>

                          </span>
                      </a>
                  </div>
                  <div class=" col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                      <a class="lightbox" data-caption="Kitchen"   href="..\images\gal_images\8.jpg">
                          <img class="img-fluid image w-100" src="..\images\gal_thumbs\l8.jpg">
                          <span class="description">
                              <span class="description-heading">Kitchen</span>

                          </span>
                      </a>
                  </div>
                  <div class=" col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                      <a class="lightbox" data-caption="Bedroom"   href="..\images\gal_images\12.jpg">
                          <img class="img-fluid image w-100" src="..\images\gal_thumbs\l12.jpg">
                          <span class="description">
                              <span class="description-heading">Bedroom</span>

                          </span>
                      </a>
                  </div>
                  <div class=" col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                      <a class="lightbox" data-caption="Twin Bedded Room"   href="..\images\gal_images\11.jpg">
                          <img class="img-fluid image w-100" src="..\images\gal_thumbs\l11.jpg">
                          <span class="description">
                              <span class="description-heading">Twin Bedded Room</span>

                          </span>
                      </a>
                  </div>
                  <div class=" col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                      <a class="lightbox" data-caption="Master Bedroom"   href="..\images\gal_images\20.jpg">
                          <img class="img-fluid image w-100" src="..\images\gal_thumbs\l20.jpg">
                          <span class="description">
                              <span class="description-heading">Master Bedroom</span>
                          </span>
                      </a>
                  </div>
                  <div class=" col-6 col-md-3 col-lg-2   centerthis  item zoom-on-hover">
                    <a class="lightbox" data-caption="Terrace"   href="..\images\gal_images\17.jpg">
                        <img class="img-fluid image w-100" src="..\images\gal_thumbs\l17.jpg">
                        <span class="description">
                            <span class="description-heading">Terrace</span>
                        </span>
                    </a>
                </div>
                  <div class=" col-6 col-md-3 col-lg-2 col-sm-6   centerthis  item zoom-on-hover">
                    <a class="lightbox" data-caption="Bathroom"   href="..\images\gal_images\21.jpg">
                        <img class="img-fluid image w-100" src="..\images\gal_thumbs\l21.jpg">
                        <span class="description">
                            <span class="description-heading">Bathroom</span>
                        </span>
                    </a>
                </div>
              
             
           
              </div>
          </div>

        </section>
        </div>
  </div>
  
        <div class="bottombar w-100"></div>

<!--Scripts-->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/2291809f17.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
      <script>
          baguetteBox.run('.compact-gallery', { animation: 'slideIn'});
      </script>
</body>

<footer class="text-muted conf-footer ">
   
  <div class="container">          
           <h3 class='foothead'>Contact</h3>
      
  
  <div class="row">
      <div class="wrap1 col-md-6 no-gutters"> 
        <div class="wrap2"><a href="mailto:***REMOVED***"><i class="far fa-envelope "></i><span class="cont-txt mailtoolong">***REMOVED***</span></a></div>
        <div class="wrap3"><a href="https://wa.me/***REMOVED***"target=”_blank><i class="fab fa-whatsapp"></i><span class="cont-txt ">***REMOVED***</span></a></div>  

          
      </div>
      <div class="wrap1 col-md-6 no-gutters">
          <div class="wrap4 cursordefault"><i class="fas fa-phone "></i><span class="cont-txt ">***REMOVED***</span></div>
          <div class="wrap5"><a href="https://www.instagram.com/quillhotels/" target=”_blank” > <i class="fab  fa-instagram class="align-middle></i><span class="cont-txt ">@quillhotels</span></a></div>          
      </div>
  </div>
  <h6 class="foothead FH2">A Unit of SCAN Hospitality Pvt. Ltd.</h6>
</footer>


</html>
