body{
  background-color: rgb(255, 255, 255);
  font-family: 'Bahnschrift';

}

.navbar{
  background-color: #f0f0f0;
  opacity: 0.9;
  height: 68px;
  
}
.navbar-brand{
font-family: 'Trajan Pro';
color: #FF3814;
font-size: 25px;
 font-weight: 510;
}
      
.navbar-brand:visited {color:#FF3814;} 
.navbar-brand:hover {color:#ff7259;}   
.navbar-brand:active {color:#FF3814;}
.navbar-brand img{
height: 40px;
}
  .vh100
  {
    height: 100vh;
  }
  .vh50
  {
    
    height: 50vh;
  }
  .carousel .carousel-inner img {
    display:block;
    object-fit: cover;
}
.r1,.r2,.r3,.r4{
  padding-top: 1em;
}
.r4{
  margin-bottom: 20px;
}


.l1{
text-align: center;}

.col-md-6{
font-size: 1rem;
}

.infotxt{
padding-top: 1em;
cursor: default;
}
.infotxt{

list-style-type: circle;
margin: 0%;
padding-left:20px;
}
.bottombar{
position: sticky;
position:-webkit-sticky; 
    bottom:0;
    z-index: 100;
    height:1.5vh;
    background: rgb(255,133,0);
    background: linear-gradient(90deg, rgba(255,133,0,1) 0%, rgba(110,0,255,1) 47%, rgba(255,10,0,1) 100%);
}
.bookbutton{
background-color:  #FF3814;
color: white;
height: 40px;
border-radius: 4px;
border: none;
padding: 2px 8px;
text-align: center;
text-decoration: none;
font-size: 26px;
opacity: 10;
border: none;
outline: none;
}
.bookbutton:hover{
background-color:  #f88874;
cursor: pointer;

}
.bookbutton:active{

}
.bookbutton:visited{

}
.nav-link{
padding: 5px 0px;
}

.ui-datepicker{

}

footer{
background-color: rgba(197, 195, 195, 0.74);
font-size: large;
padding-top: 10px;
z-index: 10000;

}
.fas,.fab,.far{
font-size: 1.8rem;
background: rgb(255,133,0);
    background: linear-gradient(90deg, rgba(255,133,0,1) 0%, rgba(255, 8, 0, 0.822) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
display: inline-block;
vertical-align: middle;
}
a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;
}

.cont li
{
list-style: none;

}
footer .container{
padding-top: 1rem;
}

li span{
cursor: default;
}
span.cont-txt
{
padding-left:0.4rem;
display: inline-block;
vertical-align:middle;
}
.foothead{
text-align:center;

}
.btn{
  margin-bottom: 2rem;
}
/*carousel text*/
.ctxt1,.ctxt2,.ctxt3,.ctxt4,.ctxt5,.ctxt6,.ctxt7
{  
z-index: 10;
padding: 0.3rem;
position: absolute;
background-color: rgba(49, 49, 49, 0.582);
color: rgb(255, 255, 255);
cursor: default;
font-size: 2rem;
text-align: center; 
}
@media (min-width:150px)  {

.ctxt1,.ctxt4{
top: 15vh;
right: 5vw; 
left: 0vw;

}
.ctxt2,.ctxt5{
top: 15vh;
left: 5vw;
right: 0vw; 

}
.ctxt3,.ctxt7{
bottom: 10vh;
left: 10vw;
right: 0vw;
}
.ctxt6{
bottom: 15vh;
right: 10vw;
left: 0vw;
}
.cont li
{padding-top: 2vh;}
}


@media (min-width:641px)  { 

.ctxt1,.ctxt4{
  top: 15vh;
  right: 25vw;
  left: 0vw; 
}
.ctxt2,.ctxt5{
  top: 15vh;
  left: 45vw; 
  right: 0vw;
}
.ctxt3,.ctxt7{
bottom: 10vh;
left: 40vw;
right: 0vw;
}
.ctxt6{
  bottom: 15vh;
  right: 50vw;
  left: 0vw;
  }

}


@media (min-width:1025px) {


.ctxt1,.ctxt4{
  top: 15vh;
  right: 50vw;
  left: 0vw; 
}
.ctxt2,.ctxt5{
  top: 15vh;
  left: 70vw; 
  right: 0vw;
}
.ctxt3,.ctxt7{
bottom: 10vh;
left: 60vw;
right: 0vw;
}
.ctxt6{
  bottom: 15vh;
  right: 70vw;
  left: 0vw;
  }

}

@media (min-width:768px) and (max-width:991px) {
.mailtoolong{
font-size: 0.95rem;
}
}

/*thumbnails*/
.galimg{
height:auto;
max-width: 49%;
display: inline-block;
}

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #303233;
  }
  .overlay:hover {
    opacity: 0.5;
  }
 .overlaytext{
color: white;
font-size: 5rem;
margin: auto;
vertical-align: middle;
opacity: 1;
  }
  