body{
  background-color: rgb(255, 255, 255);
  font-family: 'Bahnschrift';

}
/* NAVBAR */
.navbar{
  background-color: #f0f0f0e3;
  opacity: 1;
  height: 68px;
  
}
.navbar-brand{
font-family: 'Trajan Pro';
color: #FF3814;
font-size: 25px;
 font-weight: 510;
}     
.navbar-brand:visited {color:inherit;} 
.navbar-brand:hover {color:inherit;}   
.navbar-brand:active {color:inherit;}
.navbar-brand img{
height: 40px;
}
.nav-link{
  padding: 5px 0px;
  }
  /*fixes*/
  .ui-datepicker{
    z-index: 101 !important;
  }
  @media (min-width:1000px){
  .float-right{
    padding-right:3vw;
  }
}
  .admintable{
    margin-top: 6px;
  }
  .adminbtn{
    background-color: rgb(243, 168, 97);
    padding: 2px 8px;
    color: white!important;
    border-radius: 10px;
    transition: .4s;
    margin-right: 10px;
  }
  .adminbtn:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgb(231, 142, 59);
  }

  /* spinner
  .spinner{
    width: 3rem;
    height: 3rem;
    position: relative;
  }
  .spinner div{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-top-color: rgb(255, 164, 67) ;
    border-radius: 50%;
    animation: spinnerOne 1.7s linear infinite;
  } 
  .spinner div:nth-child(2)
{
  border: 1rem solid transparent;
  border-bottom-color: rgb(221, 114, 0) ;
  animation: spinnerTwo 1.7s linear infinite;
}
@keyframes spinnerOne{
  0%{transform: rotate(0deg);border-width: 8px;}
  50%{transform: rotate(180deg);border-width: 1px;}
  100%{transform: rotate(360deg);border-width: 8px;}
  }
  @keyframes spinnerTwo{
    0%{transform: rotate(0deg);border-width: 1px;}
    50%{transform: rotate(180deg);border-width: 10px;}
    100%{transform: rotate(360deg);border-width: 1px;}
    } */
  /* UTILITY */

  .vh99
  {
    height: 97vh;
  }
  .vh50
  {
    
    height: 50vh;
  }
  h3,.orang{
    color: rgb(255,133,0) ;
    cursor: default;
  }
  .orang1{
    color: rgb(255,133,0) ;
    cursor: ponter;
  }
  .cursordefault{
    cursor: default;
  }
  .centerthis{
    text-align: center;
    }
    

/* CONTENT IN BODY  */
.r2,.r3,.r4{
  padding-top: 1em;
}
.r1{
  padding-top: 3vh;
}
.r4{
  margin-bottom: 20px;
}
.l1{
text-align: center;}
.col-md-6{
font-size: 1rem;
}

.infotxt{
padding-top: 1em;
cursor: default;
list-style-type: circle;
margin: 0%;
padding-left:20px;
background-repeat: no-repeat; 
background-size: 50%;
}
.i1{
  
  background-image:url("/content/feather1.svg") ;
   background-position-x: -5%;
  background-position-y: -10%;  
 }

.i2{
  background-image:url("/content/feather2.svg") ;
   background-position-x: -20%;
  background-position-y: 80%;  
}
.i3{
  
    background-image:url("/content/feather1.svg") ;
     background-position-x: 130%;
    background-position-y: 110%;  
}
/* BOTTOM BAR */
.bottombar{
position: sticky;
position:-webkit-sticky; 
    bottom:0;
    z-index: 100;
    height:1.5vh;
    background: rgb(255,133,0);
    background: linear-gradient(90deg, rgba(255,133,0,1) 0%, rgba(197,80,102,1) 30%, rgba(110,0,255,1) 50%, rgba(197,80,102,1) 70%, rgba(255,133,0,1) 100%);
}

/* BOOKING BUTTON */
.bookbtn{
  background-color: rgb(216, 128, 14);
  height: 40px;
  padding: auto;
  font-size: 1.4rem;
  color: white!important;
  border-radius: 30px;
  transition: .4s;
  text-align: center;
  
}
.now{
  display: inline-block;
}
 @media (min-width:10px) and (max-width:329px)
{
  .now{
    display:none;
  }
} 

.bookbtn:hover{
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
cursor: pointer;
background-color:  #FF3814;
color: white!important;

} 
 /* .bookbutton{
  background-color: rgb(216, 128, 14);
color: white;
height: 40px;
margin-top: auto;
margin-bottom: auto;
border-radius: 20px;
padding:2px 5px!important;
text-align: center;

font-size: 1.3rem;
position: relative;
z-index: 11;
transition: 0.2s ease-in-out;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.now{
  display: inline-block;
}
 .bookbutton:hover{
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
cursor: pointer;
background-color:  #FF3814;

} 
.bookbutton:active{
  background-color:  #FF3814;
} */

/* FOOTER */

.conf-footer{
background-color: #f0f0f0e3;
font-size: large;
padding-top: 10px;
padding-bottom: 10px;
z-index: 10000;

}

html{
background-color:  #f0f0f0e3;
}
.fas,.fab,.far{
font-size: 1.8rem;
background: rgb(255,133,0);
    background: linear-gradient(90deg, rgba(255,133,0,1) 0%, rgba(255, 8, 0, 0.822) 100%);
     -webkit-background-clip: text; 
     background-clip: text; 
    -webkit-text-fill-color: transparent;
  
display: inline-block;
vertical-align: middle;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
.foothead{
  text-align: center;
  cursor: default;
}
.FH2{
  padding-top: 10px;
}

.wrap1{
  width: 100%;
}
.wrap2,.wrap3,.wrap4,.wrap5{
width: max-content;
  padding-top: 10px;
  margin: 0 auto;
  transition: 0.4s ease-in-out;
}
/* .wrap5{
  width: max-content;
  padding-top: 10px;
  margin: 0 auto 0 38%;
  transition: 0.4s ease-in-out;
} */
.wrap2:hover,.wrap3:hover,.wrap4:hover,.wrap5:hover{
  transform: scale(1.2);
}

.cont-txt{
  padding-left: 5px;
}
.btn{
  margin-bottom: 2rem;
  background-color:  rgb(255,133,0) ;
border: none;
}
  .btn:hover,.btn:active{
    background-color:  rgb(221, 114, 0) ;
  }

 /* CAROUSEL */
 .carousel .carousel-inner img {
  display:block;
  object-fit: cover;
}
.ctxt1,.ctxt2,.ctxt3,.ctxt4,.ctxt5,.ctxt6,.ctxt7
{  
z-index: 10;
padding: 0.3rem;
position: absolute;
background-color: rgba(216, 128, 14, 0.596);
color: rgb(255, 255, 255);
cursor: default;
font-size: 1.5rem;
text-align: center; 
}

@media (min-width:150px)  {

.ctxt1{
top: 15vh;
right: 20vw; 
left: 0vw;
}
.ctxt4{
  top: 15vh;
  right: 40vw; 
  left: 0vw;
  }
.ctxt2,.ctxt5{
top: 15vh;
left: 5vw;
right: 0vw; 

}
.ctxt3,.ctxt7{
bottom: 10vh;
left: 10vw;
right: 0vw;
}
.ctxt6{
bottom: 15vh;
right: 10vw;
left: 0vw;
}
.cont li
{padding-top: 2vh;}
}


@media (min-width:641px)  { 

.ctxt1{
  top: 15vh;
  right: 25vw;
  left: 0vw; 
}
.ctxt4{
  top: 15vh;
  right: 40vw;
  left: 0vw; 
}
.ctxt2,.ctxt5{
  top: 15vh;
  left: 45vw; 
  right: 0vw;
}
.ctxt3,.ctxt7{
bottom: 10vh;
left: 40vw;
right: 0vw;
}
.ctxt6{
  bottom: 15vh;
  right: 50vw;
  left: 0vw;
  }

}


@media (min-width:1025px) {


.ctxt1{
  top: 15vh;
  right: 50vw;
  left: 0vw; 
}
.ctxt4{
  top: 15vh;
  right: 70vw;
  left: 0vw; 
}
.ctxt2,.ctxt5{
  top: 15vh;
  left: 70vw; 
  right: 0vw;
}
.ctxt3,.ctxt7{
bottom: 10vh;
left: 60vw;
right: 0vw;
}
.ctxt6{
  bottom: 15vh;
  right: 70vw;
  left: 0vw;
  }

}

@media (min-width:768px) and (max-width:991px) {
.mailtoolong{
font-size: 0.95rem;
}
}
/* .feather1{
  position: absolute;
  height: 10rem;
  width: auto;
  bottom: 0;
  right: 0;
  z-index: ;
} */

