body{
    background-color: gray;
  }
  .jumbotron{
   background-color: darkgray; 
   height: auto;
  }
  .navbar{
    background-color:white;
    opacity: 0.8;
  }


  .navbar-brand {
    width:300px;
    font-size: 24px;
  }

  .navbar-brand {
    width:150px;
    font-size: 24px;
  }
  .navbar-brand img{
    height: 50px;
    float: left;
    margin-right: 10px;
  }

    .vh100
    {
      height: 100vh;
    }
    .carousel .carousel-inner img {
      display:block;
      object-fit: cover;
  }




  