body{
    background-color: rgb(255, 255, 255);
  }

  .navbar{
    background-color:white;
    opacity: 0.9;
  }


  .navbar-brand {
    width:300px;
    font-size: 24px;
  }

  .navbar-brand {
    width:50px;
    padding: 0px;
  }
  .navbar-brand img{
    height: 50px;
    float: left;
    margin-right: 10px;
  }

    .vh100
    {
      height: 100vh;
    }
    .vh50
    {
      
      height: 50vh;
    }
    .carousel .carousel-inner img {
      display:block;
      object-fit: cover;
  }

.r1{
  padding-top: 20px;
}
.r2{
  padding-top: 20px;
}
.l1{
 text-align: center;}